@import url(./index.css);

.tableRow {
  margin: 0;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  background-color: var(--white);
  color: var(--black);
  gap: 45%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  border: 0.01rem solid;
}
.tableContainer {
  margin: 0;
  width: 75%;
  height: 10rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: scrollbar; /* IE and Edge */
  scrollbar-width: auto; /* Firefox */
}
.tableContainer::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
}
.tableContainer::-webkit-scrollbar-thumb {
  background: var(--white);
}
.containAll {
  display: flex;
  height: 100vh;
  gap: 10%;
  padding: 0;
  background-color: var(--backGr);
}
.bigTitle {
  color: var(--white);
  width: 200%;
}
.mainPage {
  width: 100%;
  padding-left: 18rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.125rem;
  margin-top: 3rem;
  overflow: scroll;
  -ms-overflow-style: scrollbar; /* IE and Edge */
  scrollbar-width: auto; /* Firefox */
}
.table {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-weight: 500;
}
.personalData {
    font-weight: 500;
    background: var(--unselected);
    width: 100%;
    height: 3rem;
    padding: 1rem;
  }
.Notes {
    font-weight: 500;
    background: var(--unselected);
    width: 100%;
    min-height: 3rem;
    padding: 1rem;
}
.miniTitle {
  color: var(--white);
  font-weight: 100;
}
.brownButton {
  background-color: var(--mainRed);
  color: var(--white);
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}
.data {
  width: 20%;
  text-align: left;
}
.dataContainersContainer {
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    gap: 2rem;
    flex-wrap: wrap;
}
.dataContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1.1875rem;
    flex-shrink: 0;
    width: 45%;
}
.whiteButton {
  background-color: var(--white);
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 700;
  margin-bottom: 2rem;
}
.buttons {
  display: flex;
  width: 25%;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
}
.header {
  width: 75%;
  display: flex;
  align-items: center;
  gap: 40%;
}
.filler {
    width: 25rem;
}
.tableHead {
    margin: 0;
    background: var(--mainRed);
    width: 75%;
    height: 3rem;
    display: flex;
    align-items: flex-start;
    gap: 45%;
    color: var(--white);
    text-align: left;
    padding: 1rem;
  }