@import url(./index.css);

.tableHead {
  margin: 0;
  background: var(--mainRed);
  width: 75%;
  height: 3rem;
  display: flex;
  align-items: flex-start;
  gap: 17%;
  color: var(--white);
  text-align: left;
  padding: 1rem;
}
.tableRow {
  margin: 0;
  width: 100%;
  height: 3.5rem;
  padding: 1rem;
  background-color: var(--white);
  color: var(--black);
  gap: 17%;
  display: flex;
  align-items: flex-start;
  text-align: left;
  border: 0.01rem solid;
}
.tableContainer {
  margin: 0;
  width: 75%;
  height: 18rem;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  -ms-overflow-style: scrollbar; /* IE and Edge */
  scrollbar-width: auto; /* Firefox */
}
.tableContainer::-webkit-scrollbar {
  display: block;
  width: 10px;
  height: 10px;
}
.tableContainer::-webkit-scrollbar-thumb {
  background: var(--white);
}
.containAll {
  display: flex;
  height: 100vh;
  gap: 10%;
  padding: 0;
  background-color: var(--backGr);
}
.bigTitle {
  color: var(--white);
}
.mainPage {
  width: 100%;
  padding-left: 18rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.125rem;
  margin-top: 3rem;
  overflow: scroll;
  -ms-overflow-style: scrollbar; /* IE and Edge */
  scrollbar-width: auto; /* Firefox */
}
.table {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  font-weight: 500;
}
.formContainer {
  width: 100%;
  height: 100%;
}
.formContainer form{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
}
.inputContainer input , .dropDown {
  background: var(--unselected);
  width: 100%;
  height: 3rem;
  padding: .5rem;
  appearance: auto;
}
.date {
    appearance: auto;
}
.inputContainer {
  display: flex;
  width: 47%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.5rem;
  flex-shrink: 0;
  color: var(--white);
  font-weight: 200;
  height: 20%;
}
.brownButton {
  background-color: var(--mainRed);
  color: var(--white);
  padding: 0.5rem 1rem;
  text-align: center;
  font-weight: 700;
}
.buttonContainer {
  margin-bottom: 2rem;
}
.data {
  width: 20%;
  text-align: left;
}
.filler {
    width: 25rem;
}