@import url(./index.css);

.Logo {
    display: flex;
    align-items: center;
    gap: 10px;
}
.title {
    display: flex;
    align-items: center;
    gap: 30px;
}
.navBar {
    display: flex;
    width: 17%;
    height: 911px;
    padding: 40px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-shrink: 0;
    border-right: 2px solid #FFF;
    background: #230D0D;
    backdrop-filter: blur(32px);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 46px;
}
button {
    padding: 8px 16px;
    text-align: center;
    background-color: white;
    font-weight: 700;
    width: 50%;
}
a {
    color: #B1B1B1;
}
.selected {
    color: #F04646;
}
h1 {
    font-weight: 100;
    color: white;
}
strong {
    font-weight: 900;
}