@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
  background-color: transparent;
  border: none;
  text-align: inherit;
  border-radius: 0;
  appearance: none;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
*::-webkit-scrollbar {
  display: none;
}
:root {
  --mainRed: #411a1a;
  --white: white;
  --black: black;
  --backGr: #170000;
  --sideBarRed: #230d0d;
  --selected: #f04646;
  --unselected: #D9D9D9;
}
   /* Define styles for the success message div */
   .success-message {
    background-color: #4CAF50; /* Green background color */
    color: white; /* White text color */
    padding: 10px;
    padding-left: 20px; /* Padding */
    margin-bottom: 1px; /* Margin bottom */
    text-align: center; /* Center align text */
}
  .error-message {
    background-color: #FFA500; /* Orange background color */
    color: white; /* White text color */
    padding: 10px; /* Padding */
    padding-left: 20px;
    margin-bottom: 1px; /* Margin bottom */
    text-align: center; /* Center align text */
}
.error {
  background-color: #f00707; /* Orange background color */
  color: white; /* White text color */
  padding: 10px; /* Padding */
  padding-left: 20px;
  margin-bottom: 1px; /* Margin bottom */
  text-align: center; /* Center align text */
}