@import url(./index.css);

.navBar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: fit-content;
  height: 100%;
  padding: 2.5rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  border-right: 0.125rem solid var(--white);
  background: var(--sideBarRed);
  backdrop-filter: blur(2rem);
  font-size: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: start;
  min-height: 50%;
  justify-content: space-between;
}

.whiteButton {
  padding: 0.5rem 1rem;
  text-align: center;
  background-color: var(--white);
  font-weight: 700;
}

.title a {
  color: var(--unselected);
  font-size: 1rem;
}

.selected h3 {
  color: var(--selected);
  font-size: 1.5rem;
}

.conatiner h1 {
  font-weight: 100;
  color: var(--white);
}

strong {
  font-weight: 900;
}
